@import "tailwindcss";

@font-face {
    font-family: "ALS Sirius";
    src: url("./assets/fonts/ALS_Sirius_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ALS Sirius";
    src: url("./assets/fonts/ALS_Sirius_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: rgba(14, 146, 67, 1);
    --color-primary-alt: rgba(40, 190, 70, 1);
    --color-danger: rgb(210, 45, 36);
    --color-danger-alt: rgba(255, 56, 60, 1);
    --color-error: rgb(210, 45, 36);
    --color-error-alt: rgba(255, 56, 60, 1);
    --color-blue: rgba(84, 77, 245, 1);
    --color-dark: rgba(0, 0, 0, 1);
    --color-light: rgba(243, 245, 246, 1);

    --shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    --font-primary: "ALS Sirius", sans-serif;
    --font-secondary: "Arial", sans-serif;

    --breakpoint-sm: 30rem; /* 480px, mobile-s */
    --breakpoint-md: 48rem; /* 768px, mobile */
    --breakpoint-lg: 64rem; /* 1024px, tablet */
    --breakpoint-xl: 90rem; /* 1440px, laptop */
    --breakpoint-2xl: 104rem; /* 1660px, desktop */
}

@layer base {
    *,
    ::before,
    ::after {
        transition: 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition-property: opacity, color, background-color, border-color, box-shadow, filter, scale, visibility;
    }

    *::-webkit-scrollbar {
        @apply w-4
    }

    *::-webkit-scrollbar-track {
        @apply bg-transparent
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-primary/75 rounded-[10px] cursor-default;
        border: 5px solid transparent;
        background-clip: content-box;
    }

    *::-webkit-scrollbar-thumb:hover {
        @apply bg-primary-alt;
    }

    body {
        @apply font-primary font-normal mx-auto relative
        text-[0.75rem] md:text-[0.825rem] lg:text-[0.9rem] xl:text-[0.95rem] 2xl:text-[1rem]
        bg-light text-dark;
    }

    #root {
        @apply flex flex-col h-[100dvh];
    }

    #modal-root {
        @apply relative z-1000;
    }

    h1 {
        @apply font-bold text-[1.875rem] sm:text-[2rem] md:text-[2.3rem] lg:text-[2.625rem] xl:text-[3rem] 2xl:text-[3.25rem];
    }

    h2 {
        @apply font-bold text-[1.125rem] sm:text-[1.25rem] md:text-[1.4rem] lg:text-[1.625rem] xl:text-[1.825rem] 2xl:text-[2rem];
    }

    h3 {
        @apply font-bold text-[1rem] sm:text-[1.125rem] md:text-[1.2rem] lg:text-[1.3rem] xl:text-[1.4rem] 2xl:text-[1.5rem];
    }

    h4 {
        @apply font-bold text-[0.875rem] sm:text-[1rem] md:text-[1.1rem] lg:text-[1.15rem] xl:text-[1.2rem] 2xl:text-[1.25rem];
    }

    h5 {
        @apply font-bold text-[0.8rem] sm:text-[0.875rem] md:text-[0.95rem] lg:text-[1rem] xl:text-[1.075rem] 2xl:text-[1.125rem];
    }
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-1/2
}

@utility container {
    @apply mx-auto
    max-w-367 sm:max-w-367 md:max-w-367 lg:max-w-367 xl:max-w-367 2xl:max-w-367
    p-4.25 sm:p-4.75 md:p-5 lg:p-5.5 xl:p-5.75 2xl:p-6.25
}

@utility truncate {
    @apply whitespace-nowrap text-start text-ellipsis overflow-hidden max-w-full
}